.header{
    // Hamburger Open Styles
    &.open{
        .header__toggle{
            > span:first-child{
                transform: rotate(45deg);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }
    .overlay{
        opacity: 0;
        position: fixed;
        top:0px; // 60/16
        right:0px;
        bottom:0px;
        left:0px;
        background-image:linear-gradient($darkBlue, transparent);
    }
    
    nav{
        position: relative;
        background-color: $white;
        z-index: 2;
        padding-top: 1.0625rem; // 17/16
        padding-bottom: 1.0625rem;
    }

    &__logo{
        img{
            width: 8.8125rem; //141/16
            height: 1.375rem; // 22/16
        }
    }

    &__toggle{//mobile menu toggle
        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }

    }

    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 1.5rem;
        padding:1.625rem;
        border-radius: 5px;
        z-index: 1;

        a{
            display: block;
            padding: 0.625rem;
            color:$darkBlue;
            text-align: center;
        }
    }

    &__links{

        a{
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 200ms ease-in-out;

            &:not(:last-child){
                margin-right:32px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right,$limeGreen,$brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover{
                color: $darkBlue;

                &::before{
                    opacity: 1;
                }
            }
        }
    }
}