.hero{
background-color: $veryLightGray;

.container{
    @include breakpoint-up(large){
        display: flex;
        align-items: center;
    }    
}

    &__image{
        position: relative;
        background-image: url('https://raw.githubusercontent.com/JohnWesleyK/Easy-Bank-Landing-Page/862cdeac2b9aa6615dabc970ef7073c5fb5b9af7/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(medium){
            min-height: 25rem;
            background-position: center 70%;
          }
          
        @include breakpoint-up(large){
            flex:3;
            order: 2;
            height: 41rem;
            background-image: none;

            // background-image: url('/images/bg-intro-desktop.svg');
            // background-position: left center;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image:url('https://raw.githubusercontent.com/JohnWesleyK/Easy-Bank-Landing-Page/cdaf8cf0e7de56a5e05ad09628a63f9cb577a146/images/bg-intro-desktop.svg');
            // background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include breakpoint-up(large){
                
                width: 150%;
                background-size: 120%;
                background-position: 0% 83% ;
            }
        }
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image:url('https://github.com/JohnWesleyK/Easy-Bank-Landing-Page/blob/master/images/image-mockups.png?raw=true');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(medium){
                background-size: 52%;
                background-position: center 60%;
            }

            @include breakpoint-up(large){
                width:120%;
                height: 122%;
                background-size: 93%;
                background-position: center 150%;
                left: 22%;


            }

        }
    }

    &__text{
        text-align: center;
        

        @include breakpoint-up(large){
            flex:2;
            order:1;
            text-align: left;
        }

    }
}